[agent]
  interval = "{{ telegraf_interval }}"
  round_interval = {{ telegraf_round_interval | lower }}
  metric_batch_size = {{ telegraf_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_collection_jitter }}"
  flush_interval = "{{ telegraf_flush_interval }}"
  flush_jitter = "{{ telegraf_flush_jitter }}"
  precision = "{{ telegraf_precision }}"
  debug = {{ telegraf_debug | lower }}
  quiet = {{ telegraf_quiet | lower }}
  logtarget = "{{ telegraf_logtarget }}"
  logfile = "{{ telegraf_logfile }}"
{% if telegraf_logfile_rotation_interval | default(false) %}
  logfile_rotation_interval = "{{ telegraf_logfile_rotation_interval }}"
{% endif %}
{% if telegraf_logfile_rotation_max_size | default(false) %}
  logfile_rotation_max_size = "{{ telegraf_logfile_rotation_max_size }}"
{% endif %}
{% if telegraf_logfile_rotation_max_archives | default(false) %}
  logfile_rotation_max_archives = {{ telegraf_logfile_rotation_max_archives }}
{% endif %}
  hostname = "{{ telegraf_hostname }}"
  omit_hostname = {{ telegraf_omit_hostname | lower }}

{% if telegraf_global_tags | length > 0 %}
[global_tags]
{% for tag in telegraf_global_tags %}
  {{ tag.key }} = "{{ tag.value }}"
{% endfor %}

{% endif %}
[[outputs.prometheus_client]]
  listen = "{{ telegraf_prometheus_listen }}"
  metric_version = {{ telegraf_prometheus_version }}
{% if telegraf_prometheus_username | default(false) %}
  basic_username = "{{ telegraf_prometheus_username }}"
{% endif %}
{% if telegraf_prometheus_password | default(false) %}
  basic_password = "{{ telegraf_prometheus_password }}"
{% endif %}
{% if telegraf_processors is defined and telegraf_processors is iterable %}
{% for item in telegraf_processors %}

[[processors.{{ item.plugin }}]]
{% if item.config is defined and item.config is iterable %}
{% for item in item.config %}
  {{ item }}
{% endfor %}
{% else %}
  # no configuration
{% endif %}
{% endfor %}
{% endif %}
{% if telegraf_aggregators is defined and telegraf_aggregators is iterable %}
{% for item in telegraf_aggregators %}

[[aggregators.{{ item.plugin }}]]
{% if item.period | default(false) %}
  period = "{{ item.interval }}s"
{% endif %}
{% if item.config is defined and item.config is iterable %}
{% for item in item.config %}
  {{ item }}
{% endfor %}
{% else %}
  # no configuration
{% endif %}
{% endfor %}
{% endif %}
{% if telegraf_plugins is defined and telegraf_plugins is iterable %}
{% for item in telegraf_plugins %}

[[inputs.{{ item.plugin }}]]
{% if item.interval | default(false) %}
  interval = "{{ item.interval }}s"
{% endif %}
{% if item.config is defined and item.config is iterable %}
{% for item in item.config %}
  {{ item }}
{% endfor %}
{% else %}
  # no configuration
{% endif %}
{% endfor %}
{% endif %}
